.App {
  text-align: center;
}

button {
  font-size: 50px;
}

.Scoreboard {
  margin-left: 30px;
  border: 1px solid black;
} 

.Player1{
  font-size:  25px;
}
.Player2{
  font-size:  25px;
}.btn{
  display: inline-block;
}